* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background: rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.inner {
  display: flex;
  width: 420px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
}
