* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background: rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
}

.inner {
  display: flex;
  width: 420px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

h1 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

button {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.84px;
  text-transform: uppercase;

  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
}

.outline {
  border: none;
  background: transparent;
  color: #000;
}

.solid {
  border-radius: 3px;
  border: none;
  background: #1867c0;
  box-shadow: 2px 2px 2px -1px rgba(24, 103, 192, 0.25);
}
